* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-section {
    background-color: #1F2937;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 22px 230px;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    gap: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


