* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 100vh;
    padding: 0 230px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    gap: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-content {
    display: flex;
    gap: 58px;
}

.hero-text {
    flex: 1;
}

.hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.img-placeholder {
    display: flex;
    flex: 1 0 200px;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    color: #FFF;
    font-size: 22px;
}

button {
    display: inline-block;
    padding: 10px 36px;
    background-color: #3882F6;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    margin-top: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.info-section {
    height: 56vh;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 164px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 10px;
}

.card-text {
    width: 164px;
    text-align: center;
    color: #686868;
}

.quote {
    background-color: #E5E7EB;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    width: 820px;
    font-style: italic;
    text-align: justify;
}

.quoter {
    width: 820px;
    text-align: right;
    font-weight: 900;
    font-size: 22px;
    color: #1F2937;
}

.cta-container {
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cta {
    border: 2px solid #FFF;
}

.cta {
    display: flex;
    background-color: #3882F6;
    height: 142px;
    align-items: center;
    justify-content: space-around;
    width: 64%;
    padding: 0 32px;
    border-radius: 8px;
}

.cta-text h3 {
    font-size: 24px;
    color: #FFF;
}

.cta-text p {
    font-size: 18px;
    color: #dcdcdc;
}

.footer {
    height: 100px;
    background-color: #1F2937;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
}



