* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    gap: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-section {
    padding: 0 230px;
}

.hero-content {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 68px;
}

.hero-text {
    flex: 1;
}

.hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.img-placeholder {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #6d747d;
    color: #FFF;
    font-size: 22px;
}

button {
    display: inline-block;
    padding: 10px 36px;
    background-color: #3882F6;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    margin-top: 14px;
    border-radius: 8px;
    cursor: pointer;
}



